version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: mini_dms_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mini_dms
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mini_dms"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
